<div *ngIf="isLoading">Loading...</div>

<div class="well" *ngIf="!isLoading && scenario">
  <h1>Edit Case {{scenario?.id}}</h1>

  <label for="">Name</label>
  <input type="text" [(ngModel)]="scenario.name">

  <label for="">Preconditions</label>
  <angular-editor [(ngModel)]="scenario.preconditions" [config]="config"></angular-editor>

  <label for="">Script</label>
  <angular-editor [(ngModel)]="scenario.script" [config]="config"></angular-editor>

  <label for="">Expected Result</label>
  <angular-editor [(ngModel)]="scenario.expectedResult" [config]="config"></angular-editor>

  <label for="">Coverage</label>
  <select [(ngModel)]="scenario.coverage">
    <option *ngFor="let option of coverageOptions" value="{{option}}">{{option}}</option>
  </select>

  <label class='checkbox'>
    <input type="checkbox" [ngModel]="scenario.isSecurity" (ngModelChange)="onCheckboxChange($event, 'isSecurity')">Security Case?
    <span class="wtf"><a href="#" class="label ttip"
                         data-original-title="Does this case cover application security?">Wah?</a>
    </span>
  </label>

  <div id="review">
    <label class='checkbox'>
      <input type="checkbox" [ngModel]="scenario.reviewFlag" (ngModelChange)="onCheckboxChange($event, 'reviewFlag')">
      Flag for Review
      <span class="wtf">
        <a href="#" class="label ttip" data-original-title="Is the script incomplete?  See a problem with this case?  Flag it for review.">Wah?</a>
      </span>
    </label>

    <div id="review_reason" *ngIf="scenario?.reviewFlag">
      <label for="">Reason for Review</label>
      <input type="text" [(ngModel)]="scenario.flagReason">
    </div>
  </div>

  <label class='checkbox'>
    <input type="checkbox" [ngModel]="scenario.clientPriority" (ngModelChange)="onCheckboxChange($event, 'clientPriority')">Priority
    <span class="wtf"><a href="#" class="label ttip"
                         data-original-title="Has this case been deemed a priority?">Wah?</a>
      </span>
  </label>

  <label for="">Mode</label>
  <select [(ngModel)]="scenario.mode">
    <option *ngFor="let option of modeOptions" value="{{option}}">{{option}}</option>
  </select>

  <div class="well">
    <button class="btn btn-small btn-primary save" (click)="onSaveClick()">{{saveBtnLabel}}</button>
  </div>
</div>
