.grid-container {
  .grid {
    position: relative;
    grid-template-columns: minmax(60px, 80px) minmax(64px, 120px) minmax(120px, 1fr) repeat(3, minmax(64px, 120px));

    &:hover {
      app-ticket-form {
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
        transition-delay: 0.5s;
        opacity: 1;
      }
    }

    a {
      border: none;
    }
  }

  header {
    &.grid {
      padding: 0;
    }
  }

  app-ticket-form {
    position: absolute !important;
    z-index: 1;
    top: 28px;
    right: 0;
    left: 0;
    display: block !important;
    min-width: 600px;
    max-width: 50%;
    height: 30vh;
    margin: 0 auto;
    transition: opacity 0s;
    opacity: 0;
    border: 1px solid #ccc;
  }
}
