@import 'variables';

.hamburger {
  position: relative;
  display: block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 0;
  text-indent: -9999px;
  border: none;
  background-color: rgba($color-white, 0.2);
  box-shadow: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  span {
    position: absolute;
    top: 30px;
    right: 18px;
    left: 18px;
    display: block;
    height: 2px;
    transition: background 0s 0.3s;
    background: $color-white;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      transition-delay: 0.3s, 0s;
      transition-duration: 0.3s, 0.3s;
      background-color: $color-white;
    }

    &:before {
      top: -8px;
      transition-property: top, transform;
    }

    &:after {
      bottom: -8px;
      transition-property: bottom, transform;
    }
  }

  &.is-active {
    background-color: rgba($color-white, 0.1);

    span {
      background: none;

      &:before,
      &:after {
        transition-delay: 0s, 0.3s;
      }

      &:before {
        top: 0;
        transform: rotate(45deg);
      }

      &:after {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
