<div>
  <div class="admin_area"> - Admin Area - </div>
  <h1>Edit Testing Round</h1>
  <h3>Note that the 'Release num' field must match the JIRA 'Fix Version' exactly!</h3>

  <div>
    <div class="row">
      <label>Tester Notes</label>
      <angular-editor [(ngModel)]="round.notes" [config]="config"></angular-editor>
    </div>
  </div>
  <div class="well">

<!--    <a href="{{ path('round', { 'app': app.request.get('app') }) }}" class="btn btn-default">-->
<!--      Back to the list-->
<!--    </a>-->

<!--    <form action="{{ path('round_delete', { 'app': app.request.get('app'), 'id': entity.id }) }}" method="post">-->
<!--      {{ form_widget(delete_form) }}-->
<!--      <button type="submit" class="btn btn-success">Delete</button>-->
<!--    </form>-->

  </div>

</div>

