@import 'variables';

footer {
  @include layout;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: rgba(var(--color-rgb-footer), 1);

  div {
    display: flex;
    align-items: center;
    line-height: 1.5;
    color: $color-medium;

    a {
      transition: color 0.4s;
      text-decoration: none;
      border: none;
      outline: none;
      background-color: transparent;
    }

    .separator {
      display: inline-block;
      width: 1px;
      height: 16px;
      margin: 0 8px;
      background-color: $color-grey;
    }
  }
}
