<div mat-dialog-title class="dialog-title">
  <button mat-icon-button mat-dialog-close>
    <i class="fas fa-times-circle"></i>
  </button>
  <h2>Contact Us</h2>
</div>

<mat-dialog-content class="dialog-content">
  <section>

    <h3>Sony Music Entertainment (Headquarters)</h3>
    25 Madison Avenue
    <br>New York, NY, 10010-8601

    <h3>Sony Music Entertainment</h3>
    Support Contacts
    <br>Phone: 1-877-450-6534
    <br>Email: <a href="mailto:support@sonymusic.com">support@sonymusic.com</a>.

  </section>
</mat-dialog-content>
