@import '../../../scss/variables';

.card {
  padding: 0;
  background-color: $color-light;

  &-header {
    padding: 16px 16px 8px;

    &-avatar {
      img {
        width: 100%;
      }

      .null-cover {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $color-lightgrey;

        .fas {
          font-size: 26px;
          color: $color-grey;
        }
      }
    }
  }

  &-content {
    padding: 8px 16px 16px;
    background-color: rgba(255,255,255,0.3);

    &-grid {
      display: grid;
      grid-template-columns: minmax(100px, 1.5fr) repeat(auto-fit, minmax(80px, 1fr));
      grid-template-rows: auto;
      grid-gap: 10px;
      width: 100%;
      line-height: 1.2;
    }

    .row {
      display: grid;
      grid-template-columns: 152px 1fr;
      grid-template-rows: auto;
      grid-gap: 10px;
      width: 100%;

      & > div {
        line-height: 1.2;

        &:first-child {
          justify-self: flex-end;
          color: $color-medium;
        }

        &:last-child {
          @include ellipsis;
        }
      }
    }

    .notes {
      width: 100%;
    }
  }
}

.grid {
  &.jiras {
    grid-template-columns: minmax(64px, 120px) repeat(3, 70px) minmax(70px, 100px) minmax(120px, 1fr) minmax(92px, 120px) repeat(2, minmax(64px, 80px)) minmax(64px, 100px);
  }

  &.new-features,
  &.priorities {
    grid-template-columns: 80px 1fr 100px 120px minmax(64px, 100px);
    cursor: move;
  }

  &.flagged {
    grid-template-columns: 80px 2fr 120px 1fr minmax(64px, 100px);
    cursor: move;
  }

  &-container {
    &.dragged {
      &:after {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        animation: marching-ants 1s linear;
        animation-play-state: running;
        animation-iteration-count: infinite;
        background-image: linear-gradient(to right, $color-white 50%, $color-red 50%),
        linear-gradient(to right, $color-white 50%, $color-red 50%),
        linear-gradient(to bottom, $color-white 50%, $color-red 50%),
        linear-gradient(to bottom, $color-white 50%, $color-red 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-position: 0 0, 0 100%, 0 0, 100% 0;
        background-size: 20px 1px, 20px 1px, 1px 20px, 1px 20px;
      }
    }

    .cancel-button {
      position: absolute;
      z-index: 2;
      top: -20px;
      right: -18px;

      &:before {
        position: absolute;
        z-index: -1;
        top: 12px;
        right: 12px;
        width: 16px;
        height: 16px;
        content: '';
        border-radius: 8px;
        background-color: $color-white;
      }
    }
  }
}

.ellipsis {
  @include ellipsis;
}

.chart-container {
  display: flex;
  min-height: 300px;
  margin: 10px 0 0;
  padding: 10px;
  background-color: white;

  .chart {
    position: relative;
    width: 33.33%;
  }
}

.spinner-info {
  font-size: 18px;
}
