@import 'variables';

.auth {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease-out;
  color: $color-blue;
  border: none;
  outline: none;
  box-shadow: none;

  &:hover {
    color: $color-lightblue;
  }
}

.scrolling {
  overflow-y: auto;
  height: 100%;
  max-height: 300px;
  padding: 7px 14px 28px;
  border-radius: 4px;

  p {
    margin: 10px 0;
    text-align: center;
  }
}

.fun {
  width: 766px;
  margin: 10vh auto 20px;

  &-typing {
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(50, end);
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    white-space: nowrap;
    color: black;

    span {
      color: $color-violet;
    }
  }
}

@keyframes type {
  from {
    width: 0;
  }
}
