@import 'variables';

main {
  display: grid;
  overflow: hidden;
  grid-template-columns: [line1] minmax(320px, auto) [line2];
  grid-template-rows: [row1] $size-headerHeight [row2] $size-navHeight [row3] 1fr [row4] $size-footerHeight [row5];
  grid-template-areas: 'header' 'nav' 'main' 'footer';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  app-header {
    grid-area: header;
    grid-column: line1 / line2;
    grid-row: row1 / row2;
    background-color: rgba(var(--color-rgb-header), 0.5);

    ::ng-deep {
      header {
        @include layout;
        align-items: center;
        flex-direction: row;
        padding: 0 20px;
        color: $color-white;
        background-color: rgba(var(--color-rgb-header), 1);
      }
    }
  }

  nav {
    grid-area: nav;
    grid-column: line1 / line2;
    grid-row: row2 / row3;
    background-color: rgba(var(--color-rgb-nav), 0.5);

    section {
      @include layout;
      flex-direction: row;
      color: $color-white;
      background-color: rgba(var(--color-rgb-nav), 1);
    }
  }

  section {
    @include layout;
    overflow: hidden;
    grid-area: main;
    grid-column: line1 / line2;
    grid-row: row3 / row4;
    background-color: rgba(var(--color-rgb-main), 1);

    ::ng-deep {
      .flex-grow {
        @include flex-grow;
      }
    }
  }

  app-footer {
    grid-area: footer;
    grid-column: line1 / line2;
    grid-row: row4 / row5;
    background-color: rgba(var(--color-rgb-footer), 0.5);
  }
}

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 460px;
  user-select: none;
  transform: translate(-50%, -50%);

  &-actions {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 20px 0 0;

    input {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 50px;
      width: 196px;
      height: 44px;
      padding-top: 20px;
      padding-left: 3px;
      transition: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
      border: none;

      &::placeholder {
        color: rgba($color-black, 0.6);
      }

      &:focus,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        font-size: 16px;
        border: none;
        outline-width: 0;
        background: $color-white;
        -webkit-box-shadow: 0 0 0 1000px $color-white inset;
      }

      &.pass {
        top: 46px;
      }
    }

    svg {
      position: absolute;

      .rect1,
      .rect2 {
        stroke: $color-medium;
        stroke-width: 1px;
        fill: $color-white;
      }

      .rect1 {
        z-index: 1;
        transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        stroke-dasharray: 197 509;
        stroke-dashoffset: -729;
      }

      .rect2 {
        z-index: 1;
        transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        stroke-dasharray: 197 509;
        stroke-dashoffset: -1058;
      }
    }
  }

  .submit {
    display: block;
    width: 196px;
    height: 44px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    font-size: 16px;
    border-radius: 22px;
    background-color: $color-light;

    &:hover {
      color: $color-medium;
      background-color: $color-lightgrey;
    }


    &:focus {
      outline-width: 0;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 44px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease-out;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    border: none;
    border-radius: 22px;
    outline: none;
    background-color: $color-light;
    box-shadow: none;

    &:hover {
      color: $color-medium;
      background-color: $color-lightgrey;
    }

    &.help {
      background-color: transparent;

      .pulse {
        animation: pulse 2s infinite;
        border-radius: 50%;
      }
    }
  }

  .scrolling {
    overflow-y: auto;
    height: 100%;
    max-height: 300px;
    padding: 7px 14px 28px;
    border-radius: 4px;

    p {
      margin: 10px 0;
      text-align: center;
    }
  }

  &-logout {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    width: 440px;
    height: 150px;
    user-select: none;
    transform: translate(-50%, -50%);

    h2,
    p {
      margin: 0 0 30px;
      text-align: center;
    }

    p {
      font-size: 18px;
    }
  }
}

.fun {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  width: 766px;

  &-typing {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    animation: type 4s steps(50, end);

    span {
      color: $color-violet;
    }
  }
}

@keyframes type {
  from {
    width: 0;
  }
}
