<div>
  <ng-container *ngIf="!token?.length; else setPasswordForm">
    <ng-container *ngIf="!message?.length else messageBlock">
      <h3>Reset Password</h3>

      <mat-form-field class="full-width">
        <mat-label>Email Address:</mat-label>
        <input #userEmail
               [formControl]="emailFormControl"
               autocomplete="off"
               matInput
               type="email"
               (keyup.enter)="onResetPasswordClick(userEmail.value)"
               required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button
        [disabled]="!userEmail?.value"
        (click)="onResetPasswordClick(userEmail.value)"
        type="submit"
        mat-raised-button
        color="accent">
        <i class="fas fa-unlock-alt"></i>
        <span>Reset Password</span>
      </button>
    </ng-container>

    <ng-template #messageBlock>
      <div>{{message}}</div>
    </ng-template>
  </ng-container>
  <ng-template #setPasswordForm>
    <ng-container *ngIf="!message?.length">
      <h3>Set New Password</h3>

      <div>
        <mat-form-field class="full-width">
          <mat-label>New Password:</mat-label>
          <input #password autocomplete="off" matInput type="text" required (keyup.enter)="onSetPasswordClick(password?.value)">
        </mat-form-field>

        <button
          [disabled]="!password?.value?.length"
          (click)="onSetPasswordClick(password?.value)"
          mat-raised-button
          color="accent">
          <i class="fas fa-lock"></i>
          <span>Set Password</span>
        </button>
      </div>
    </ng-container>

    <div *ngIf="message?.length">{{message}}</div>
  </ng-template>
</div>

<div>
  <i class="fas fa-undo-alt"></i>
  Go back: <span routerLink="/auth/sign-in" class="link">Sign In</span>
</div>
