@import '../../../scss/variables';

section {
  align-items: center;
  justify-content: center;
  padding: 0 !important;

  .choose {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 20px;
    height: 100%;
    max-height: 384px;

    button {
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 16px;
      transition: background-color 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
      color: $color-medium;
      border-radius: 8px;
      background-color: $color-light;

      &:hover {
        color: $color-white;
        background-color: $color-orange;

        .fas {
          transform: scale(1.2);
        }
      }

      .fas {
        display: flex;
        align-items: flex-end;
        height: 60px;
        transition: transform 9000ms cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 50px;
      }

      span {
        margin: 16px 0 0;
        transition: margin 0.3s ease-in-out;
        font-size: 16px;
        text-align: center;
        hyphens: auto;
      }
    }

    &-card {
      height: 182px;
      cursor: pointer;
      transition: background-color 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: $color-read-only;

      &:hover {
        transform: scale(1.02);
        background-color: $color-active;

        .choose-card-avatar {
          transform: scale(1.3);
        }
      }

      &-avatar {
        transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);

        img {
          width: 100%;
        }

        .null-cover {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: $color-light;

          .fas {
            font-size: 26px;
            color: $color-lightgrey;
          }
        }
      }

      &-section {
        display: grid;
        grid-template-columns: 114px 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
        width: 100%;

        & > div {
          margin: 0 0 10px;
          line-height: 1.2;

          &:first-child {
            justify-self: flex-end;
            color: $color-medium;
          }

          &:last-child {
            @include ellipsis;
          }
        }
      }
    }
  }
}
