<div mat-dialog-title class="dialog-title">
  <button mat-icon-button mat-dialog-close>
    <i class="fas fa-times-circle"></i>
  </button>
  <h2>FAQ</h2>
</div>

<mat-dialog-content class="dialog-content">
  <section>

    <h3>What is Sony Music’s {{appTitle}}?</h3>
    <p>It is a web-based portal that enables you to get ...</p>

    <h3>What are the minimum system requirements?</h3>
    <ul>
      <li>Chrome v.60+</li>
      <li>Firefox v.48+</li>
      <li>Safari v.10+</li>
      <li>Edge v.14+</li>
    </ul>

    <h3>What are the current {{appTitle}} version?</h3>
    <p>Current {{appTitle}} version: {{verUI}}</p>

  </section>
</mat-dialog-content>
