<nav>
  <span *ngIf="!isLoading">Choose An Application:</span>
</nav>

<section>
  <ng-container *ngIf="isLoading; else template">
    <div class="spinner">
      <div class="spinner-progress"></div>
      <div class="spinner-info">Loading...</div>
    </div>
  </ng-container>

  <ng-template #template>
    <div class="choose">
      <mat-card (click)="onButtonClick('/dashboard/AOMA/show')" class="choose-card">
        <mat-card-header>
          <div mat-card-avatar class="choose-card-avatar">
            <img src="/assets/logos/aoma-loading.gif" alt="logo">
          </div>
          <mat-card-title>AOMA</mat-card-title>
          <mat-card-subtitle *ngIf="data?.aomaRound?.releaseNum">
            release: {{data?.aomaRound?.releaseNum}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="choose-card-section">
            <div>Current Round:</div>
            <div>
              <ng-container *ngIf="!data?.aomaRound?.releaseNum">No Current Round</ng-container>
              <ng-container *ngIf="data?.aomaRound?.releaseNum">{{data?.aomaRound?.name}}</ng-container>
            </div>
          </div>

          <div class="choose-card-section">
            <div>Testing Period:</div>
            <div>
              <ng-container *ngIf="!data?.aomaRound?.releaseNum">None Scheduled</ng-container>
              <ng-container *ngIf="data?.aomaRound?.releaseNum">
                {{data?.aomaRound?.startsAt | date}} to {{data?.aomaRound?.endsAt | date}}
              </ng-container>
            </div>
          </div>

          <div class="choose-card-section">
            <div>Tests This Round:</div>
            <div>{{data?.aomaTestCount}} total, {{data?.aomaFails}} fails</div>

          </div>

          <div class="choose-card-section">
            <div>Cases Available:</div>
            <div>{{data?.aomaScenarios?.scenarioCount}}</div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card (click)="onButtonClick('/dashboard/Promo/show')" class="choose-card">
        <mat-card-header>
          <div mat-card-avatar class="choose-card-avatar">
            <img src="/assets/logos/promo.jpeg" alt="logo">
          </div>
          <mat-card-title>Promo</mat-card-title>
          <mat-card-subtitle *ngIf="data?.promoRound?.releaseNum">
            release: {{data?.promoRound?.releaseNum}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="choose-card-section">
            <div>Current Round:</div>
            <div>
              <ng-container *ngIf="!data?.promoRound?.releaseNum">No Current Round</ng-container>
              <ng-container *ngIf="data?.promoRound?.releaseNum">{{data?.promoRound?.name}}</ng-container>
            </div>
          </div>

          <div class="choose-card-section">
            <div>Testing Period:</div>
            <div>
              <ng-container *ngIf="!data?.promoRound?.releaseNum">None Scheduled</ng-container>
              <ng-container *ngIf="data?.promoRound?.releaseNum">
                {{data?.promoRound?.startsAt | date}} to {{data?.promoRound?.endsAt | date}}
              </ng-container>
            </div>
          </div>

          <div class="choose-card-section">
            <div>Tests This Round:</div>
            <div>{{data?.promoTestCount}} total, {{data?.promoFails}} fails</div>

          </div>

          <div class="choose-card-section">
            <div>Cases Available:</div>
            <div>{{data?.aomaScenarios?.scenarioCount}}</div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card (click)="onButtonClick('/dashboard/DX/show')" class="choose-card">
        <mat-card-header>
          <div mat-card-avatar class="choose-card-avatar">
            <div class="null-cover">
              <i class="fas fa-image"></i>
            </div>
          </div>
          <mat-card-title>DX</mat-card-title>
          <mat-card-subtitle *ngIf="data?.dxRound?.releaseNum">
            release: {{data?.dxRound?.releaseNum}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="choose-card-section">
            <div>Current Round:</div>
            <div>
              <ng-container *ngIf="!data?.dxRound?.releaseNum">No Current Round</ng-container>
              <ng-container *ngIf="data?.dxRound?.releaseNum">{{data?.dxRound?.name}}</ng-container>
            </div>
          </div>

          <div class="choose-card-section">
            <div>Testing Period:</div>
            <div>
              <ng-container *ngIf="!data?.dxRound?.releaseNum">None Scheduled</ng-container>
              <ng-container *ngIf="data?.dxRound?.releaseNum">
                {{data?.dxRound?.startsAt | date}} to {{data?.dxRound?.endsAt | date}}
              </ng-container>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card (click)="onButtonClick('/dashboard/GRAS Lite/show')" class="choose-card">
        <mat-card-header>
          <div mat-card-avatar class="choose-card-avatar">
            <div class="null-cover">
              <i class="fas fa-image"></i>
            </div>
          </div>
          <mat-card-title>GRAS Lite</mat-card-title>
          <mat-card-subtitle *ngIf="data?.grasLiteRound?.releaseNum">
            release: {{data?.grasLiteRound?.releaseNum}}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div class="choose-card-section">
            <div>Current Round:</div>
            <div>
              <ng-container *ngIf="!data?.grasLiteRound?.releaseNum">No Current Round</ng-container>
              <ng-container *ngIf="data?.grasLiteRound?.releaseNum">{{data?.grasLiteRound?.name}}</ng-container>
            </div>
          </div>

          <div class="choose-card-section">
            <div>Testing Period:</div>
            <div>
              <ng-container *ngIf="!data?.grasLiteRound?.releaseNum">None Scheduled</ng-container>
              <ng-container *ngIf="data?.grasLiteRound?.releaseNum">
                {{data?.grasLiteRound?.startsAt | date}} to {{data?.grasLiteRound?.endsAt | date}}
              </ng-container>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</section>
