<div *ngIf="isLoading">
  Loading...
</div>

<div class="well" *ngIf="!isLoading">
  <h3 class="row" style="padding-left: 12px;">Release {{reportData?.roundNotes?.releaseNum}} - {{reportData?.roundNotes?.name}}</h3>

  <div class="ng-cloak">

    <table>
      <tr><th></th></tr>

      <tr>
        <td class="span3"><h3><small>Testing Period</small></h3></td>
        <td class="span3"><h3><small>Days Remaining</small></h3></td>
        <td class="span3"><h3><small>Release Date</small></h3></td>
        <td class="span4"><h3><small>Latest Test Deployment</small></h3></td>
      </tr>

      <tr *ngIf="roundStart && percentRemain">
        <td>
          <h4>{{roundStart}}&nbsp;-&nbsp;{{roundEnd}}</h4>
        </td>
        <td><h4>{{daysLeft}} <small>&nbsp;({{percentRemain}})</small></h4></td>
        <td><h4>{{releaseDate}}</h4></td>
        <td><h4>{{deployDiff}} <small> {{deployDate}}</small></h4></td>
      </tr>
    </table>


    <table class="coverage-pies">
      <tr>
        <td><h3><small>Browsers Tested</small></h3></td>
        <td><h3><small>Completion Projection</small></h3></td>
      </tr>
      <tr class="chart-row">
        <td><div id="browser-pie"></div></td>
        <td><div id="completion-gauge"></div></td>
      </tr>
    </table>


    <h2 class="statsHeader"><small class="tight">Progress</small></h2>

    <table class="table table-condensed">
      <thead></thead>
      <tr>

        <td class="span3">
          <h4><span class="priorityRatio">{{getRatio('priorities')}}</span><small><a href="#priorities"> priorities</a></small></h4>
        </td>
        <td class="span3">
          <h4><span class="enhancementRatio">{{getRatio('enhancementScenarios')}}</span><small><a href="#new_features"> new features</a></small></h4>
        </td>
        <td class="span3">
          <h4><span class="regressionRatio">{{getRatio('regressionScenarios')}}</span><small><a href="#regressions"> regressions</a></small></h4>
        </td>
        <td class="span3">
          <h4><span class="overallRatio">{{overallRatio}}</span><small> overall</small></h4>
        </td>

      </tr>
    </table>

    <h2 class="statsHeader"><small class="tight">Tests on this Round</small></h2>
    <table class="table table-condensed">
      <thead></thead>
      <tbody>
      <tr>
        <td class="span2">
          <h4>
            {{reportData?.testCount}} <small>total</small>
          </h4>
        </td>

        <td class="span2">
          <h4>
            {{reportData?.testsToday}}
            <small>today</small>
          </h4>
        </td>
        <td class="span2">
          <h4>
            {{reportData?.testsYesterday}}
            <small>yesterday</small>
          </h4>
        </td>
        <td class="span2">
          <h4>
            {{reportData?.testsThisWeek}} <small>past 7 days</small>
          </h4>
        </td>
        <td class="span2">
          <h4>{{reportData?.jiras?.length}} <small><a href="#jiras">
            JIRA ticket<ng-container *ngIf="reportData?.jiras?.length !== 1">s</ng-container>
          </a></small></h4>
        </td>

      </tr>
      </tbody>
    </table>

    <h2 class="statsHeader"><small>Cases for this Round</small></h2>
    <table class="table table-condensed">
      <thead></thead>
      <tr>
        <td class="span2">
          <h4>
            {{(reportData?.enhancementCount || 0) + (reportData?.regressionCount || 0)}}
            <small> for testing</small>
          </h4>
        </td>

        <td class="span2">
          <h4>
            {{reportData?.priorityCount}}<small><a href="#priorities"> prioritized</a></small>
          </h4>
        </td>
        <td class="span2">
          <h4>
            {{reportData?.enhancementCount}}<small><a href="#new_features"> for new features</a></small>
          </h4>
        </td>
        <td class="span2">
          <h4>
            {{reportData?.regressionCount}}<small><a href="#regressions"> for regression</a></small>
          </h4>
        </td>
        <td class="span2">
          <h4>
            {{reportData?.flaggedCount}}<small><a href="#flagged"> flagged for review</a></small>
          </h4>
        </td>
      </tr>
    </table>
  </div>

  <div><a id="exp_collapse" href="#" ><i id="chevron" class="icon-chevron-up" title="expand or collapse the tester notes"></i>expand/collapse</a></div>
  <div id="roundNotes" class="well">
    <p>{{reportData?.roundNotes?.notes}}</p>
  </div>

  <ng-container *ngIf="!reportData?.jiras?.length">
    <h4><small>No JIRA Tickets Yet</small></h4>
  </ng-container>
  <ng-container *ngIf="reportData?.jiras?.length">


    <a name="jiras"></a>

    <div class="row">
      <h2 class="pull-left bb-indent"><small>&nbsp;&nbsp;&nbsp;&nbsp;Current JIRA Tickets ({{reportData?.jiras?.length}}<span class="totalJiras">)</span></small>
        <button class="btn btn-mini btn-default hideClosed">hide closed tickets</button>
      </h2>
      <div class="updated pull-right"><h3><small class="moment"></small></h3></div>

    </div>

    <!-- container to which unique modals are appended -->
    <div class="comments-modal-container"></div>

    <table class="table-bordered table-striped table-jira">
      <thead>
      <tr>
        <th style="width:7%">Ticket</th>
        <th style="width:7%">Fix</th>
        <th style="width:7%">In Prod</th>
        <th style="width:7%">Case</th>
        <th style="width:21.5%">JIRA Title</th>
        <th style="width:21.5%">Test Result</th>
        <th style="width:21.5%">Last Comment</th>
        <th style="width:11.3%">Status</th>
        <th style="width:11.3%">Assignee</th>
        <th style="width:7.9%">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr class="jira-row" *ngFor="let test of reportData?.jiras">
        <td class="jira-ticket" style="text-align: center;">
          <a href="https://jira.smedigitalapps.com/jira/browse/{{test?.ticket}}" target="window" title="View ticket in JIRA">{{test?.ticket}}</a>
        </td>
        <td class="center-in-column"><span class="fixVersionClass" style="font-style: italic;"></span></td>
        <td class="center-in-column">
          <span *ngIf="test?.inProd === 'Yes'" class="label label-default" title="Exists in Production Environment">{{test?.inProd}}</span>
          <span *ngIf="test?.inProd === 'No'" class="label label-warning" title="Does Not Occur in Production">{{test?.inProd}}</span>
          <span *ngIf="test?.inProd === 'Unsure'" class="label label-info" title="Not Tested in Production">{{test?.inProd}}</span>
        </td>
        <td style="text-align: center;">
          <a routerLink="{{[app, 'scenario', test?.scenarioId, 'show']}}">
            {{test?.scenarioId}}
            <i *ngIf="test?.isSecurity" class="icon-lock" title="security case"></i>
          </a>
        </td>
        <td style="height: 45px; font-style: italic; text-align:left;" class="titleClas"></td>
        <td>{{test.result | slice:0:90}}</td>
        <td style="height: 45px; font-style: italic;" class="commentClass"></td>
        <td style="height: 45px; font-style: italic;" class="statusClass"></td>

        <td style="height: 45px; font-style: italic; text-align: center;" class="assigneeClass"></td>

        <td style="text-align: center;">
          <a routerLink="{{[app, 'test', test?.id, 'show']}}"><i class="icon-zoom-in" title="show test detail"></i></a>
          <a routerLink="{{[app, 'test', test?.id, 'edit']}}"><i class="icon-pencil" title="edit or delete this test"></i></a>
        </td>
      </tr>

      </tbody>
    </table>
  </ng-container>

  <a name="new_features"></a>

  <div ng-controller="enhancementsController" class="ng-cloak">

    <div *ngIf="!reportData?.enhancementScenarios?.length">
      <h2><small>No cases for new features yet</small></h2>
    </div>

    <div *ngIf="reportData?.enhancementScenarios?.length">
      <h2><small>Cases for New Enhancements ({{reportData?.enhancementScenarios?.length}})</small>
        <button class="btn btn-mini showPassedEnhancements">hide passing cases</button>
      </h2>
      <em class="pull-right bb-push-up"><p class="table-enhancements-show-hide-text"></p></em>


      <div ng-if="showSaveOrder">
        <em>you can reorder this list and save to preserve the new order</em>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-mini btn-default bb-show-order" ng-click="updateOrder()">save order</button>
      </div>

      <table class="table-bordered table-striped table-enhancements" style="width: 100%; font-size: 12px;">
        <thead>
        <tr>
          <th style="width:6%;">ID</th>
          <th style="width:55%;">Name</th>
          <th colspan="2" style="width:20%;">Last Test</th>
          <th style="width:8%;">Actions</th>
        </tr>
        </thead>

        <tbody ui-sortable="sortableOptions" ng-model="list">
        <tr *ngFor="let item of reportData?.enhancementScenarios" class="sortable" ng-class="{'fail': item.last_test == 'Fail',
       'default-cursor': sortableOptions.disabled}">
          <td class="bb-center-cell">{{item?.id}}</td>
          <td>{{item?.name}}</td>
          <td style="text-align: center;" class="last-result">
            <span *ngIf="item?.lastTest">{{item?.lastTest}}</span>
            <span class="never" *ngIf="!item?.lastTest">never tested</span>
          </td>
          <td style="text-align: center;" class="recent-date">
            <span>{{getMostRecentText(item?.mostRecent)}}</span>
          </td>
          <td style="text-align: center;">
            <a routerLink="{{[app, 'scenario', item?.id, 'show']}}">
              <i class="icon-zoom-in" title="show scenario detail"></i>
            </a>
            <a routerLink="{{[app, 'scenario', item?.id, 'edit']}}">
              <i class="icon-pencil" title="edit this scenario"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a name="priorities"></a>

  <div>

    <div ng-show="list.length < 1">
      <h2><small>No prioritized cases yet</small></h2>
    </div>

    <div ng-show="list.length > 0">
      <h2><small>Prioritized Cases ({{reportData?.priorityScenarios?.length}})</small>
        <button class="btn btn-mini showPassedPriorities">hide passing cases</button>
      </h2>
      <em class="pull-right bb-push-up"><p class="table-priorities-show-hide-text"></p></em>

      <div ng-if="showSaveOrder">
        <em>you can reorder this list and save to preserve the new order</em>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-mini btn-default bb-show-order" ng-click="updateOrder()">save order</button>
      </div>

      <table class="table-bordered table-striped table-priorities" style="width: 100%; font-size: 12px;">
        <thead>
        <tr>
          <th style="width:6%;">ID</th>
          <th style="width:55%;">Name</th>
          <th colspan="2" style="width:20%;">Last Test</th>
          <th style="width:8%;">Actions</th>
        </tr>
        </thead>

        <tbody ui-sortable="sortableOptions" ng-model="list">
        <tr *ngFor="let item of reportData?.priorityScenarios"  class="sortable" ng-class="{'fail': item.last_test == 'Fail'}">
          <td class="bb-center-cell">{{item?.id}}</td>
          <td>{{item?.name}}</td>
          <td style="text-align: center;" class="last-result">
            <span *ngIf="item?.lastTest">{{item?.lastTest}}</span>
            <span class="never" *ngIf="!item.lastTest">never tested</span>
          </td>
          <td style="text-align: center;" class="recent-date">
            <span>{{getMostRecentText(item?.mostRecent)}}</span>
          </td>
          <td style="text-align: center;">
            <a routerLink="{{[app, 'scenario', item?.id, 'show']}}">
              <i class="icon-zoom-in" title="show scenario detail"></i>
            </a>
            <a routerLink="{{[app, 'scenario', item?.id, 'edit']}}">
              <i class="icon-pencil" title="edit this scenario"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <a name="regressions"></a>

  <div ng-controller="regressionsController">

    <div ng-show="list.length < 1">
      <h2><small>No prioritized cases yet</small></h2>
    </div>
    <div ng-show="list.length > 0">
      <h2><small>Cases for Regression ({{reportData?.regressionScenarios?.length}})</small>
        <button class="btn btn-mini showPassedRegressions">hide passing cases</button>
      </h2>
      <!-- angular isn't removing the vertical space, so we need to wrap a div and set -->
      <div ng-if="showSaveOrder">
        <em>you can reorder this list and save to preserve the new order</em>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-mini btn-default bb-show-order" ng-click="updateOrder()">save order</button>
      </div>

      <table class="table-bordered table-striped table-regressions" style="width: 100%; font-size: 12px;">
        <thead>
        <tr>
          <th style="width:6%;">ID</th>
          <th style="width:55%;">Name</th>
          <th colspan="2" style="width:20%;">Last Test</th>
          <th style="width:8%;">Actions</th>
        </tr>
        </thead>

        <tbody ui-sortable="sortableOptions">
        <tr *ngFor="let item of reportData?.regressionScenarios" class="sortable" ng-class="{'fail': item.last_test == 'Fail'}">
          <td class="bb-center-cell">{{item?.id}}</td>
          <td>{{item?.name}}</td>
          <td style="text-align: center;" class="last-result">
            <span *ngIf="item?.lastTest">{{item?.lastTest}}</span>
            <span class="never" *ngIf="!item?.lastTest">never tested</span>
          </td>
          <td style="text-align: center;">
            <span>{{getMostRecentText(item?.mostRecent)}}</span>
          </td>
          <td style="text-align: center;">
            <a routerLink="{{[app, 'scenario', item?.id, 'show']}}">
              <i class="icon-zoom-in" title="show scenario detail"></i>
            </a>
            <a routerLink="{{[app, 'scenario', item?.id, 'edit']}}">
              <i class="icon-pencil" title="edit this scenario"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a name="flagged"></a>

  <ng-container *ngIf="!reportData?.flaggedScenarios?.length">
    <h2><small>No Cases Are Currently Flagged for Review</small></h2>
  </ng-container>
  <ng-container *ngIf="reportData?.flaggedScenarios?.length">
    <h2><small>Flagged Cases ({{reportData?.flaggedScenarios?.length}})</small></h2>
    <table class="table-bordered table-striped" style="width: 100%; font-size: 12px;">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th style="width: 15%;">Updated</th>
        <th>Flag Reason</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let scenario of reportData?.flaggedScenarios">
        <td style="text-align: center;"> {{scenario?.id}} </td>
        <td> {{scenario?.name}} </td>

        <td style="text-align: center;"> {{scenario?.updatedAt | date:'M d g:i A'}}</td>
        <td> {{scenario.flagReason | slice:0:50}} </td>

        <td style="text-align: center;">
          <a routerLink="{{[app, 'scenario', scenario?.id, 'show']}}"><i class="icon-zoom-in" title="show scenario detail"></i></a>
          <a routerLink="{{[app, 'scenario', scenario?.id, 'edit']}}"><i class="icon-pencil" title="edit this scenario"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

</div>
