@import 'variables';

.grid {
  &.tests {
    grid-template-columns: minmax(60px, 80px)
    minmax(60px, 80px)
    minmax(120px, 1fr)
    minmax(90px, 0.6fr)
    minmax(64px, 92px)
    minmax(64px, 104px)
    120px
    minmax(64px, 80px)
    86px
    minmax(64px, 80px);
  }
}

.variations-form {
  display: grid;
  grid-template-columns: minmax(80px, 1fr) 184px;
  width: 100%;

  & > div {
    &.actions {
      padding: 4px 0;

      button {
        margin: 0 0 0 10px;
      }
    }
  }
}
