<nav>
  <a mat-flat-button
     [disabled]="!isBackActive"
     (click)="onBackClick()"
     color="primary"
     class="nav-button">
    <i class="fas fa-arrow-left"></i>
    <span>Back</span>
  </a>

  <ng-container *ngFor="let button of buttons">
    <a mat-flat-button
       routerLink="{{getLinkUrl(button.url)}}"
       [disabled]="isDisabled(button.url)"
       [routerLinkActive]="['active']"
       color="primary"
       class="nav-button">
      <i class="fas" [ngClass]="button.icon"></i>
      <span *ngIf="button?.title">{{button?.title}}</span>
    </a>
  </ng-container>

  <app-select-utility></app-select-utility>

  <div class="spacer"></div>

  <a mat-flat-button
     routerLink="/dashboard"
     color="primary"
     class="nav-button">
    <i class="fas fa-random"></i>
    <span>Switch App</span>
  </a>
</nav>
