@import '../../../scss/variables';

:host {
  overflow: hidden;
}

.user {
  display: grid;
  overflow-y: auto;
  justify-content: center;
  width: 100%;
  background-color: $color-white;

  &-container {
    width: 440px;
    margin: 20px;
    padding: 10px 20px 20px;
    border: 1px solid $color-lightgrey;
    border-radius: 6px;

    .row {
      margin: 0 0 16px;

      mat-checkbox {
        margin-right: 16px;
      }
    }
  }
}
