@import '../../../scss/variables';

:host {
  overflow: hidden;
}

.user {
  display: grid;
  overflow-y: auto;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $color-white;

  &-container {
    width: 440px;
    height: 410px;
    margin: 20px;
    padding: 10px 20px 20px;
    border: 1px solid $color-lightgrey;
    border-radius: 6px;

    .row {
      margin: 0 0 16px;
    }

    .tab {
      margin: 0 0 0 24px;

      & > mat-checkbox {
        margin: 0 20px 0 0;
      }
    }
  }
}
