<app-nav [isBackActive]="true"></app-nav>

<section>
  <ng-container *ngIf="!round; else template">
    <div class="spinner">
      <div class="spinner-progress"></div>
      <div class="spinner-info">Loading...</div>
    </div>
  </ng-container>

  <ng-template #template>
    <h2>Round</h2>

    <div class="grid-container">
      <div class="grid two-columns">
        <div>Round ID</div>
        <div>{{round?.id}}</div>
      </div>
      <div class="grid two-columns">
        <div>App</div>
        <div>{{round?.app}}</div>
      </div>
      <div class="grid two-columns">
        <div>Notes</div>
        <div>{{round?.notes}}</div>
      </div>
      <div class="grid two-columns">
        <div>Client Notes</div>
        <div>{{round?.clientNotes}}</div>
      </div>
      <div class="grid two-columns">
        <div>Name</div>
        <div>{{round?.name}}</div>
      </div>
      <div class="grid two-columns">
        <div>Starts_at</div>
        <div>{{round?.startsAt | date: 'yyyy-MM-dd'}}</div>
      </div>
      <div class="grid two-columns">
        <div>Ends_at</div>
        <div>{{round?.endsAt | date: 'yyyy-MM-dd'}}</div>
      </div>
      <div class="grid two-columns">
        <div>Created</div>
        <div>{{round?.createdAt | date: 'yyyy-MM-dd'}}</div>
      </div>
      <div class="grid two-columns">
        <div>Updated</div>
        <div>{{round?.updatedAt | date: 'yyyy-MM-dd'}}</div>
      </div>
      <div class="grid two-columns">
        <div>Release Number</div>
        <div>{{round?.releaseNum}}</div>
      </div>
    </div>

    <div class="actions-container">
      <a mat-flat-button routerLink="/round/{{round?.app}}/{{round?.id}}/edit"
         color="primary"
         class="actions-button">
        <i class="fas fa-edit"></i>
        <span>Edit</span>
      </a>

      <button (click)="onDeleteClick()" mat-flat-button color="warn" class="actions-button">
        <i class="fas fa-ban"></i>
        <span>Delete</span>
      </button>
    </div>

  </ng-template>
</section>
