:host {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

video {
  overflow: hidden;
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  padding: 0;
  object-fit: contain;
}
