.grid {
  grid-template-columns: minmax(50px, 80px)
  repeat(2, minmax(64px, 120px))
  minmax(80px, 100px)
  minmax(70px, 94px)
  minmax(200px, 1fr)
  minmax(64px, 136px)
  minmax(64px, 120px)
  minmax(64px, 80px)
  minmax(64px, 90px);
}

header {
  &.grid {
    padding: 0;
  }
}
