.grid-container {
  overflow: hidden;
  height: 100%;
  padding: 10px 20px 20px;

  .scrolling {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 28px);
  }

  .grid {
    grid-template-columns: 50px 130px minmax(120px, 1fr) minmax(100px, 200px) minmax(64px, 140px) 64px minmax(64px, 120px);

    & > div {
      display: flex;
      align-items: center;

      &.roles {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        ::ng-deep {
          .role {
            display: inline-block;
            margin: 2px 8px 0 0;
            padding: 2px 4px;
            border-radius: 4px;

            &.super {
              color: white;
              background-color: darkred;
            }

            &.admin {
              color: white;
              background-color: red;
            }

            &.client {
              background-color: #c2ffc2;
            }

            &.support {
              background-color: #e4f8ff;
            }
          }
        }
      }
    }
  }
}
