@import '../../../scss/variables';

:host {
  display: block;
  height: 100%;
}

.menu {
  .flex {
    display: flex;
    align-items: center;
    height: $size-navHeight;
  }

  .form-search {
    margin-right: 10px;
    margin-left: 10px;
  }

  pagination-controls {
    height: $size-navHeight;

    ::ng-deep {
      .ngx-pagination {
        margin: 0;
        padding: 6px 0 7px;

        li {
          margin: 0;

          &.pagination-previous {
            padding-left: 0;
          }

          &.pagination-next {
            padding-right: 0;
          }

          a {
            transition: background-color 0.4s;
            border: none;
            outline: none;
          }
        }

        .current {
          background-color: $color-medium;
        }
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    height: $size-navHeight;
    margin: 0 10px;

    .pagination-select {
      width: 68px;
      margin: 0 0 -12px 10px;
    }
  }

  @media only screen and (max-width: 830px) {
    display: grid;
    grid-template-columns: 166px minmax(80px, 1fr);
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: calc(#{$size-navHeight} * 2);

    label {
      margin: 0;
    }

    .form-search {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: calc(#{$size-navHeight} * 4);
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 14px 0 0;
  font-weight: bold;
  border-top: 1px solid $color-lightgrey;
  border-bottom: 1px solid $color-lightgrey;
  background-color: $color-light;

  .grid {
    height: 100%;

    .ASC,
    .DESC {
      position: absolute;
      top: 50%;
      left: 4px;
      width: 0;
      height: 0;
      transform: translateY(-50%);
      opacity: 0.3;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    .ASC {
      border-top-width: 8px;
      border-top-style: solid;
    }

    .DESC {
      border-bottom-width: 8px;
      border-bottom-style: solid;
    }

    & > div {
      position: relative;
      display: flex;
      overflow: visible;
      justify-content: center;
      padding: 10px 4px;

      b {
        @include ellipsis;
        text-align: center;
      }

      &:after {
        position: absolute;
        top: -20px;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 60px;
        content: '';
        background-color: $color-lightgrey;
      }

      &.center {
        text-align: center;
      }

      &:last-child {
        &:after {
          content: unset;
        }
      }

      &.clickable {
        position: relative;
        z-index: 1;
        display: flex;
        padding: 0 4px 0 20px;
        cursor: pointer;
        user-select: none;
        transition: color 0.4s;

        &:hover {
          .ASC,
          .DESC {
            opacity: 0.8;
          }
        }

        &.active {
          .ASC,
          .DESC {
            opacity: 1;
          }
        }
      }
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.grid {
  display: grid;
  overflow: hidden;
  grid-template-columns: 90px repeat(2, minmax(80px, 1fr)) minmax(40px, 0.5fr) 120px 140px 150px;
  grid-gap: 1px;
  align-items: center;
  width: 100%;
  transition: color 0.4s, background-color 0.3s;

  @media only screen and (max-width: 830px) {
    grid-template-columns: 60px repeat(4, minmax(40px, 1fr)) 120px;
  }

  &:nth-child(even) {
    background-color: rgba($color-black, 0.03);
  }

  & > div {
    @include ellipsis;
    position: relative;
    overflow: hidden;
    padding: 4px;
    text-align: left;

    @media only screen and (max-width: 830px) {
      &:nth-child(1),
      &:nth-child(2) {
        display: none !important;
      }
    }

    &:first-child {
      justify-content: center;
      text-align: center;
    }

    &.center,
    &.actions {
      text-align: center;
    }

    &.actions {
      padding: 0;
    }

    .preview,
    .empty-image {
      width: 60px;
      height: 60px;

      img {
        height: 60px;
      }
    }

    .preview {
      img {
        display: block;
        width: 100%;
        object-fit: contain;
      }
    }

    .empty-image {
      position: relative;
      background-color: $color-medium;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 42px;
        opacity: 0.5;
        color: $color-grey;
      }
    }
  }

  &:hover {
    background-color: $color-active;
  }
}

.scrolling {
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - #{$size-navHeight});
  padding: 0 0 50px;
  background-color: $color-white;

  @media only screen and (max-width: 830px) {
    height: calc(100% - #{$size-navHeight} * 2);
  }

  @media only screen and (max-width: 500px) {
    height: calc(100% - #{$size-navHeight} * 4);
  }
}
