@import 'theme';

@font-face {
  font-family: 'Helvetica-Light';
  font-weight: 200;
  font-style: normal;
  src: local('Helvetica Light'), url('../assets/fonts/helvetica/Helvetica-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  src: local('Helvetica Regular'), url('../assets/fonts/helvetica/Helvetica.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica-Bold';
  font-weight: 600;
  font-style: normal;
  src: local('Helvetica Bold'), url('../assets/fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
  font-display: swap;
}

// sizes
$size-headerHeight: 66px;
$size-navHeight: 40px;
$size-uploaderHeight: 250px;
$size-mainWidth: 1800px;
$size-footerHeight: 60px;
$size-inputHeight: 36px;

@mixin layout {
  @include flex-grow;
  width: 100%;
  max-width: $size-mainWidth;
  margin: 0 auto;
}

@mixin flex-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

@mixin container-width {
  position: relative;
  width: 100%;
  max-width: $size-mainWidth;
  margin: 0 auto;
}

@mixin ellipsis {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin header-button {
  position: relative;
  width: 46px;
  height: 46px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.2s;
  color: rgba($color-white, 0.7);
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: transparent;

  span {
    display: none;
  }

  &.active {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 46px;
      height: 46px;
      content: '';
      border-width: 1px;
      border-style: solid;
      border-color: rgba($color-white, 0.4);
      border-radius: 100%;
    }
  }

  &:hover:not([disabled]) {
    color: $color-white;
    background-color: rgba($color-white, 0.1);
  }

  &[disabled] {
    cursor: unset;
    opacity: 0.5;

    .fas {
      opacity: 0.5;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($color-black, 0.4);
  }
  70% {
    box-shadow: 0 0 0 1rem rgba($color-black, 0);
  }
  100% {
    box-shadow: 0 0 0 1rem rgba($color-black, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

@keyframes flashBackground {
  from,
  50%,
  to {
    background-color: $color-light;
  }

  25%,
  75% {
    background-color: $color-orange;
  }
}
