@import 'variables';
@import 'material';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html,
body,
app-root,
app-main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  user-select: none;
  font: 400 14px/1 Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-medium;
  background-color: $color-white;
  will-change: transform;

  &.loading {
    .modal-downloading {
      display: block;
    }

    main > .grid article {
      width: 1020px !important;
    }

    @media only screen and (max-width: 1024px) {
      app-spotify-product-page,
      app-spotify-main-artist-page,
      app-spotify-featuring-artist-page,
      app-spotify-credits-modal {
        visibility: visible;
        height: unset;
        opacity: 1;
      }
    }
  }
}

app-main {
  display: grid;
  grid-template-columns: [line1] minmax(320px, auto) [line2];
  grid-template-rows: [row1] $size-headerHeight [row2] $size-navHeight [row3] 1fr [row4];
  grid-template-areas: 'header' 'nav' 'main';

  app-header {
    grid-area: header;
    grid-column: line1 / line2;
    grid-row: row1 / row2;
    background-color: rgba(var(--color-rgb-header), 0.5);

    header {
      @include layout;
      align-items: center;
      flex-direction: row;
      padding: 0 20px;
      color: $color-white;
      background-color: rgba(var(--color-rgb-header), 1);
    }
  }

  app-nav {
    grid-area: nav;
    grid-column: line1 / line2;
    grid-row: row2 / row3;
    background-color: rgba(var(--color-rgb-nav), 0.5);

    nav {
      @include layout;
      flex-direction: row;
      color: $color-white;
      background-color: rgba(var(--color-rgb-nav), 1);
    }
  }

  main {
    @include layout;
    overflow: hidden;
    grid-area: main;
    grid-column: line1 / line2;
    grid-row: row3 / row4;
    background-color: rgba(var(--color-rgb-main), 1);

    .flex-grow {
      @include flex-grow;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: $size-navHeight;
      padding: 0 10px;
      background-color: rgba(var(--color-rgb-menu), 1);

      .mat-form-field {
        margin-bottom: -12px;
      }
    }

    & + app-footer {
      display: none;
    }

    @media only screen and (max-width: 830px) {
      overflow-y: auto;
      height: 100%;

      &.admin {
        overflow-y: hidden;
        height: unset;
      }
    }
  }
}

h2 {
  margin: 10px;
  font-size: 26px;
  line-height: 1.2;
  color: $color-grey;

  @media only screen and (max-width: 830px) {
    font-size: 20px;
  }
}

h3 {
  padding: 30px 0 10px;
}

p {
  margin: 10px;
}

ul {
  margin: 10px;
  padding: 0 0 0 20px;

  li {
    margin: 6px 0;
    line-height: 1.5;
  }
}

a {
  text-decoration: none;
  word-break: break-word;
  color: $color-blue;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: $color-blue;
  }

  &.ext:after {
    padding-right: 14px;
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAGuWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNi4wLWMwMDMgNzkuMTY0NTI3LCAyMDIwLzEwLzE1LTE3OjQ4OjMyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXA6Q3JlYXRlRGF0ZT0iMjAyMS0wNi0xN1QxMjozOToxMiswMzowMCIgeG1wOk1vZGlmeURhdGU9IjIwMjEtMDctMDVUMjI6NTQ6NTcrMDM6MDAiIHhtcDpNZXRhZGF0YURhdGU9IjIwMjEtMDctMDVUMjI6NTQ6NTcrMDM6MDAiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6YjFkYjYzMzgtMjI3Ny00ZjczLTlmMTctZWQyYmJjZjNlNzE5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQ4RUJDOTcwRTBDOTExRTc5MERBQTJCNDQxQTQzODExIiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6NDhFQkM5NzBFMEM5MTFFNzkwREFBMkI0NDFBNDM4MTEiIGRjOmZvcm1hdD0iaW1hZ2UvcG5nIiBwaG90b3Nob3A6Q29sb3JNb2RlPSIzIiBwaG90b3Nob3A6SUNDUHJvZmlsZT0ic1JHQiBJRUM2MTk2Ni0yLjEiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0Y5QjdDMEUwQzgxMUU3OTBEQUEyQjQ0MUE0MzgxMSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0OEVCQzk2RUUwQzkxMUU3OTBEQUEyQjQ0MUE0MzgxMSIvPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo1OWIwNmVmOS0xYjJjLTRiM2UtOGI4MC0xZjU4ODA2OGU1ZTkiIHN0RXZ0OndoZW49IjIwMjEtMDYtMTdUMTI6NDE6MTYrMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyMi4xIChNYWNpbnRvc2gpIiBzdEV2dDpjaGFuZ2VkPSIvIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDpiMWRiNjMzOC0yMjc3LTRmNzMtOWYxNy1lZDJiYmNmM2U3MTkiIHN0RXZ0OndoZW49IjIwMjEtMDctMDVUMjI6NTQ6NTcrMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyMi4xIChNYWNpbnRvc2gpIiBzdEV2dDpjaGFuZ2VkPSIvIi8+IDwvcmRmOlNlcT4gPC94bXBNTTpIaXN0b3J5PiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkTiYVcAAABVSURBVBiVY/z//z8DOjDtvIoiyIShAgIYoZiBgYGBgQVdFxbF/1mQOMiAoHX/0TQxwhWdLtfGpgCrSRgKTpdrY/cd1FQ4gDn8v2nnVbggMpuBgYEBAEsfFKnlZiKrAAAAAElFTkSuQmCC') 100% 4px no-repeat;
  }
}

.far,
.fas,
.fab {
  font-size: 16px;

  & + span {
    margin-left: 8px;
    user-select: none;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
  }
}

.spacer {
  flex: 1;
}

.ellipsis {
  @include ellipsis;
}

.highlight {
  font-weight: bold;
  background-color: $color-active;
}

.app-logo {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;

  &-console {
    font: 600 21px/1 'Helvetica-Bold', Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
  }

  &-name {
    overflow: hidden;
    font: 200 21px/1 'Helvetica-Light', Helvetica, Roboto, Arial, sans-serif;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    direction: rtl;
  }

  small {
    align-self: baseline;
    margin: 4px 0 0 -42px;
  }

  &.light {
    .app-logo-name {
      color: #414042;
    }

    small {
      color: rgba($color-black, 0.4);
    }
  }

  &.dark {
    .app-logo-name {
      color: #afafaf;
    }

    small {
      color: rgba($color-white, 0.4);
    }
  }
}
