### Testing betabase ci-cd workflow using Actions-Runner-Controller runners ###

name: Actions-Runner-Controller CI-CD Build

on: [workflow_dispatch]

jobs:
  deployment:
    runs-on: sme-aoma-runners
    environment: BETABASE-DEV
    permissions:
      id-token: write # required to use OIDC authentication
      contents: read # required to checkout the code from the repo

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ vars.AWS_DEV_IAM_ROLE }}
        role-duration-seconds: 900
        aws-region: ${{ vars.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        TAG_COMMIT:: ${{ github.sha }}
        ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
        IMAGE_TAG: betabase-arc-poc-test-image
      run: |
        # Build a docker container and
        # push it to ECR so that it can
        # be deployed to ECS.
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT
        echo $image
    
