name: Main
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@main
      - name: Bump version and push tag
        uses: tool3/bump@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
